.highlight {
    display: flex;
    gap: 2rem;
    background-color: rgb(237, 235, 235);
    border: 2px dashed rgb(0, 0, 0);
    padding: 2rem;
    width: 75%;
}

.product-image {
    width: 30%;
}

.product {
    font-size: 1.2rem;
}

.price {
    font-size: 1.5rem;
}

.icon {
    width: 2%;
}